*{
    padding: 0;
    margin: 0;
}
body {
    background:#11033d;
    color: #ffffff;
}
header{
    padding: 30px;
    border-bottom: 3px solid black;
}
.links {
    text-align: center;
}
.links a {
    color:#FF8C00;
    font-size: 18px;
    line-height:  28px;
    margin: 0px 20px;
    text-decoration: none;
}
.show{
    border: 5px solid black;
    color: black;
    margin: 50px auto;
    width: 600px;
    background-color: white;
}
#descricao{
    font-size: 25px;
}
#logo{
    text-align: center;
    padding: 32px;
}
#logo img{
    border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 32px;
    height: 300px;
}
#cadastrar{
    margin: 0 auto;
    width: 500px;
}
#cad,
#lista{
    border-bottom: 1px solid white;
}
