<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/pictures/icone.ico"  />
    <title>Booble Forms</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="cadastrar.html">Cadastrar</a>
            <a id = "lista" href="">Lista de cadastros</a>
        </div>
    </header>
    <div class="show">
        <h1 id = "descricao">Nome:</h1>
        <h2 id = "descricao">Email:</h2>
        <h3 id = "descricao">Endereço:</h3>
    </div>
</body>
</html>